{
    "extends": [
      "plugin:prettier/recommended",
      "eslint:recommended"
    ],
    "env": {
      "browser": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "globals": {
      "harold": "readonly",
      "lunr": "readonly"
    },
    "rules": {
      "no-var": "error",
      "prefer-const": "error",
      "no-use-before-define": "error",
      "no-mixed-spaces-and-tabs": "error",
      "no-nested-ternary": "error",
      "no-unused-vars": "error",
      "prettier/prettier": ["error", {
        "endOfLine": "auto"
      }]
    }
  }
  