{{> head
  title="Homepage"
  description="Harold app default theme"
  ogTitle="Harold Homepage"
  ogDescription="Harold Description"
  ogImage=""
  twitterTitle="Harold Homepage"
  twitterDescription="Harold Description"
  twitterImage=""
}}

  <div class="container page-section-featured">
    {{postsList
    perPageLimit=1
    currentPage=1
    className="homepage-featured-post"
    dateFormat="dd mmmm yyyy"
    noTags=true
    noExcerpt=true
    noDate=true
    byTagName="featured"
    readMoreButtonLabel="Lets dive in!"
    }}
  </div>

  <div class="homepage-section homepage-section-bg">
    <div class="container">
      <h1 class="homepage-header">Coding</h1>
      {{postsList
      perPageLimit=3
      currentPage=1
      className="post-list-items"
      dateFormat="dd mmmm yyyy"
      byTagName="coding"
      readMoreButtonLabel="&#8674;"
      }}
    </div>
  </div>

  <div class="homepage-section">
    <div class="container">
      <h1 class="homepage-header">Art and Design</h1>
      {{postsList
      perPageLimit=3
      currentPage=1
      className="post-list-items"
      dateFormat="dd mmmm yyyy"
      byTagName="art"
      readMoreButtonLabel="&#8674;"
      }}
    </div>
  </div>

  <div class="container home-see-all-posts">
    <a href="{{relativePath 'all-posts-list.html'}}" class="button">See all posts</a>
  </div>

{{> footer}}
