* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  font-weight: 300;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 30px;
  color: $color-main-dark;
}

article, aside, footer, header, nav, section {
  display: block;

  h1 {
    font-size: 2em;
  }
}

.main-header-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-list-item {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 3px solid transparent;
  margin-left: 10px;
  margin-right: 10px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    i {
      margin-left: 10px;
    }
  }

  &:hover  {
    border-bottom: 3px solid $color-main-dark;   
  }
}

.main-logo {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-logo-dot {
  width: 15px;
  height: 15px;
  background-color: $color-main-contrast;
  margin-right: 10px;
  margin-bottom: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.main-footer {
  padding: 60px 30px 30px;
  text-align: center;
  font-size: 13px;
  color: rgba($color-main-dark, .4);
  height: $size-footer-height;
}

.page-container,
.post-container {
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
}

.button {
  color: $color-main-dark;
  display: inline-block;
  border: 1px solid $color-main-dark;
  transition: background-color .2s;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  text-align: center;
  font-weight: 400;
  background-color: $color-main-dark;
  color: $color-main-light;

  &:hover {
    background-color: darken($color-main-dark, 50%);
  }
}

.home-see-all-posts {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}
