// Center small image in markdown without html
// example in markdown: ![alt text](![alt text](/assets/image.png?style=centered)
img[src$="centered"] {
  display:block;
  margin: 0 auto;
}

// Content wider than post container - html has to be used in markdown
// Example: <div class="wide-content"><img src="/assets/image.png" alt="alt text" /></div>
.wide-content {
  position: relative;
  width: 85vw;
  min-width: 100%;
  margin: 30px calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
  text-align: center;
}


// Responsive container for video, codepen etc. iframes
.embeded-media-container {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative; }
  .embeded-media-container.vimeo {
    padding-top: 0; }
  .embeded-media-container iframe,
  .embeded-media-container object,
  .embeded-media-container embed,
  .embeded-media-container video {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    border: 0; }