<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <header class="main-header">
    <div class="container">
      <div class="main-header-container">
        <div class="main-logo">
          <div class="main-logo-dot"></div><a href="/">Harold</a>
        </div>
        <nav class="main-menu">
          <ul class="main-menu-list">
            <li class="main-menu-list-item"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
