// check css.gg icons https://css.gg
@import url('https://unpkg.com/css.gg/icons/css/menu.css');
@import url('https://unpkg.com/css.gg/icons/css/search.css');
@import url('https://unpkg.com/css.gg/icons/css/close.css');
@import url('https://unpkg.com/css.gg/icons/css/twitter.css');
@import url('https://unpkg.com/css.gg/icons/css/instagram.css');
@import url('https://unpkg.com/css.gg/icons/css/facebook.css');
@import url('https://css.gg/chevron-double-up.css');

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  font-weight: 300;
  margin: 0;
  padding: 150px 0 0;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 30px;
  color: $color-main-dark;
  background-color: $color-main-light;
}

article, aside, footer, header, nav, section {
  display: block;

  h1 {
    font-size: 2em;
  }
}

pre {
  font-size: 16px;

  code.hljs {
    border-radius: 6px;
    padding: 20px 30px;
  }
}

.main-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-main-light, 0.9);
  backdrop-filter: saturate(180%) blur(10px);
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main-header-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-list-item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
}

.main-logo {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-logo-dot {
  width: 15px;
  height: 15px;
  background-color: $color-main-contrast;
  margin-right: 10px;
  margin-bottom: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.main-footer {
  padding: 60px 30px 30px;
  text-align: center;
  font-size: 13px;
  color: rgba($color-main-dark, .4);
  height: $size-footer-height;
}

.page-container,
.post-container {
  min-height: calc(100vh - #{$size-header-height} - #{$size-footer-height});
}

.button {
  color: $color-main-dark;
  display: inline-block;
  transition: background-color .2s;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  text-align: center;
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 14px;
  background-color: $color-main-dark;
  color: $color-main-light;
  border: 0;

  &:hover {
    background-color: lighten($color-main-dark, 5%);
  }
}

.home-see-all-posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.js-overflow-y-hidden {
  overflow-y: hidden;
  padding-right: 15px;
}

// menu, search etc.
.full-screen-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color-main-dark, 0.95);
  color: $color-main-light;
  opacity: 0;
  visibility: hidden;
  z-index: 2;

  &.js-visible {
    opacity: 1;
    visibility: visible;
  }
}

.full-screen-overlay-contents {
  overflow-y: auto;
  height: 100%;
}

.full-screen-overlay-close-btn {
  position: absolute;
  top: 40px;
  right: 55px;
  cursor: pointer;

  .gg-close {
    transform: scale(2);
  }
}

.go-to-top-button {
  background: $color-main-dark;
  color: $color-main-light;
  position: fixed;
  bottom: -45px;
  right: 15px;
  width: 50px;
  height: 40px;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.js-visible {
    bottom: 0;
  }
}
