.page-content {
    max-width: 760px;
    width: 100%;
    margin: 40px auto 10px;
    font-size: 18px;
  
    img {
      max-width: 100%;
    }
  }

.page-content-title {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 45px;
  margin: 0 0 50px;
}
