.search-overlay {
  @extend .full-screen-overlay;
}

.search-overlay-contents {
  @extend .full-screen-overlay-contents;
}

.search-overlay-close-btn {
  @extend .full-screen-overlay-close-btn;
}

.search-overlay-input-wrapper {
  margin: 20vh auto 5vh;
  max-width: 60%;
  width: 100%;

  @media screen and (max-width: 1200px) {
    max-width: 90%;
  }
}

.search-overlay-input {
  width: 100%;
  background-color: transparent;
  color: $color-main-light;
  border: 0;
  font-size: 60px;
  font-family: $font-family-main;
  font-weight: 900;
  padding: 20px 0 10px;
  line-height: 1;
  outline: none;
  border-bottom: 5px solid $color-main-light;

  &::placeholder {
    color: $color-main-light;
  }
}

.search-overlay-results {
  font-family: $font-family-main;
  font-size: 20px;
  font-weight: 900;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    max-width: 90%;
  }
}

.search-overlay-results-item {
  display: flex;
  align-items: center;
  color: $color-main-light;
  padding: 5px 0;

  a {
    color: $color-main-light;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    content: "\25CF";
    padding-right: 15px;
    margin-top: -2px;
  }
}
