$color-main-dark: #383838;
$color-main-light: #fff;
$color-main-contrast: #ea4c89;
$color-main-contrast2: #F6F9FB;

$font-family-main: 'Poppins', sans-serif;

$size-header-height: 100px;
$size-footer-height: 120px;
