  <footer class="main-footer">
    Harold's Default template (Docs: <a href="https://www.haroldjs.com">www.haroldjs.com</a>)
  </footer>

  {{> search-overlay}}
  {{> main-menu-overlay}}
  {{> go-top-btn}}

  <script src="//unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="{{relativePath 'assets/js/harold.js'}}"></script>
  <script src="{{relativePath 'assets/js/harold-search.js'}}"></script>
  <script src="{{relativePath 'assets/js/harold-main-menu.js'}}"></script>
  <script src="{{relativePath 'assets/js/harold-scroll-top.js'}}"></script>
</body>

</html>
