<div class="main-menu-overlay" data-js-menu-overlay>
  <div class="main-menu-overlay-contents">
    <div class="main-menu-overlay-close-btn" data-js-menu-close><i class="gg-close"></i></div>
    <div>
      <ul class="main-menu-overlay-list">
        <li class="main-menu-overlay-list-item">
          <a href="{{relativePath 'about.html'}}">About</a>
        </li>
        <li class="main-menu-overlay-list-item">
          <a href="{{relativePath 'author.html'}}">Author</a>
        </li>
        <li class="main-menu-overlay-list-item">
          <a href="{{relativePath 'projects.html'}}">Projects</a>
        </li>
      </ul>
      <div class="main-menu-overlay-social-separator"></div>
      <div class="main-menu-overlay-social">
        <a href=""><i class="gg-instagram"></i></a>
        <a href=""><i class="gg-twitter"></i></a>
        <a href=""><i class="gg-facebook"></i></a>
      </div>
    </div>
  </div>
</div>
