<div class="search-overlay" data-js-search-overlay>
  <div class="search-overlay-contents">
    <div class="search-overlay-close-btn" data-js-search-close><i class="gg-close"></i></div>
    <div class="search-overlay-input-wrapper">
      <input
        class="search-overlay-input"
        type="text"
        placeholder="Search..."
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        autofocus
        data-js-search-input
      />
    </div>
    <div class="search-overlay-results" data-js-search-results></div>
  </div>
</div>